<!--投稿編集画面-->
<div class="container">
  <h2 class="text-center">投稿編集</h2>
  <%= render 'layouts/error_messages', resource: @post %>
  <%= render 'form', post: @post %>
</div>

<!--編集で再投稿する画像の表示-->
<script>
  function postImage(obj){
    let fileReader;
    const images = $('#edit_images_preview');
    images.empty();
    if (obj.files.length == 0 || obj.files.length > 6){
	    images.html("画像は1枚以上かつ6枚以下で指定してください");
	    $('#postImage').show();
	    return false
	  }
    for (let i = 0; i < obj.files.length; i++) {
    	fileReader = new FileReader();
    	fileReader.onload = (function (e) {
    	  $('#postImage').hide();
    		images.append('<div class="col-6 col-lg-4 p-1 text-center"><img class="preview_img img-thumbnail" src="' + e.target.result + '"></div>');
    	});
    	fileReader.readAsDataURL(obj.files[i]);
    }
  }
</script>