<!--投稿編集画面-->
<div class="container">
  <div class="col-10 p-3">
    <h2 class="text-center">投稿編集</h2>
    <div class="text-center">
      <%= render 'layouts/error_messages', resource: @post %>
    </div>
  </div>
  <%= render 'form', post: @post %>
</div>

<!--編集で再投稿する画像の表示-->
<script>
  function postImage(obj){
    let fileReader;
    const images = $('#edit_images_preview');
    images.empty();
    for (let i = 0; i < obj.files.length; i++) {
    	fileReader = new FileReader();
    	fileReader.onload = (function (e) {
    	  $('#postImage').hide();
    		images.append('<img class="m-1 preview_img border border-secondary rounded" src="' + e.target.result + '">');
    	});
    	fileReader.readAsDataURL(obj.files[i]);
    }
  }
</script>