<div class="container">
  <h4>投稿の編集</h4>
  <div class="row">
    <%= render 'layouts/error_messages', resource: @post %>
    <%= form_with model: @post do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>