<div class="container">
  <div class="row">
    <h4>新規投稿</h4>
  </div>
  <div class="row">
    <%= render 'layouts/error_messages', resource: @post %>
    <%= flash[:notice] if flash[:notice] %>
    <%= render 'form', post: @post %>
  </div>
</div>
