<div class="container">
  <h4>新規投稿</h4>
  <div class="row">
    <%= render 'layouts/error_messages', resource: @post %>
    <%= flash[:notice] if flash[:notice] %>
    <%= render 'form', post: @post %>
  </div>
</div>

<script>
  $(function(){
    $('f.submit').on('click', function(){
      $(this).addClass('border border-danger');
    });
  });
</script>
