<!--新規投稿画面-->
<div class="container">
  <div class="col-10 p-3">
    <h2 class="text-center">新規投稿</h2>
    <div class="text-center">
      <%= render 'layouts/error_messages', resource: @post %>
    </div>
  </div>
  <%= render 'form', post: @post %>
</div>
