<!--新規投稿画面-->
<div class="container">
  <h2 class="col-10 text-center p-3">新規投稿</h2>
  <%= render 'layouts/error_messages', resource: @post %>
  <%= flash[:notice] if flash[:notice] %>
  <%= render 'form', post: @post %>
</div>
