<!--投稿詳細画面-->
<div class="container">
  <%= render 'show', post: @post, comment: @comment, violate: @violate %>
</div>

<script>
  $(function() {
    const statusField = $("input[name='violate[status]']");

    // ラジオボタンに変化があった場合
    statusField.on("change", function() {
      // ラジオボタン選択している場合
      if (statusField.is(":checked")) {
        $('#submit-button').removeClass('btn btn-warning btn-lg');
        $('#submit-button').addClass('btn btn-warning');
        $("#submit-button").prop("disabled", false);
      }
    });
  });
</script>
