<div class="container">
  <% if @posts.present? %>
    <%= render 'public/posts/index', posts: @posts %>
  <% else %>
    <h4>
      ここにはフォローしたユーザーの最新の投稿が<br>
      タイムラインとして表示されます。<br>
      まだフォローしているユーザーがいないので<br>
      気になったユーザーがいればフォローしてみよう！
    </h4>
  <% end %>
</div>