<div class="col-12 mx-auto d-block d-lg-none p-1">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <div class="form-group row">
      <div class="col-8 pl-0 pr-1">
        <%= f.text_field :keyword, placeholder: "検索キーワードを入力", class:"form-control" %>
      </div>
      <div class="col-4 p-0">
        <%= f.select :model, options_for_select({"User"=>"user", "Post"=>"post"}), {prompt: false}, class:"pt-1 pb-2 rounded border border-secondary" %>
        <%= f.submit "検索", class:"btn btn-success pr-1 pl-1"  %>
      </div>
    </div>
  <% end %>
</div>