<div class="container">
  <p>
    サイトへようこそ！<br>
    ここでは、観光地に訪れるのが好きな方や観光地を探したい方<br>
    またはお気に入りの観光地をみんなに宣伝したい！<br>
    といった機能を実装したサイトとなっています。<br>
    投稿、または登録に対してのいいねやコメントをするには<br>
    ユーザー登録が必要になります。
  </p>
</div>
