<!--管理者、投稿一覧-->
<div class="container">
  <h3 class="text-center pb-3">投稿一覧</h3>
  <h5 class="text-center">
    <%= flash[:notice] if flash[:notice] %>
  </h5>
  <%= render 'index', posts: @posts %>
</div>