<div class="container pt-3">
  <div class="text-center">
    <h4>
      "<%= @tag.name %>"タグの投稿一覧
      <span class="h6">
        (<%= @tag_posts.count %>件)
      </span>
    </h4>
  </div>
  <%= render 'public/posts/index', posts: @tag_posts %>
  <%= render 'public/posts/new_btn' %>
</div>
