<div class="container">
  <% if @model == 'user' %>
    <h5>検索名：<%= @keyword %>（ユーザー）</h5>
    <%= render 'public/users/index', users: @records %>
  <% elsif @model == 'post' %>
    <h5>検索名：<%= @keyword %>（投稿）</h5>
    <%= render 'public/posts/search_index', posts: @records %>
  <% end %>
</div>
