<!--通知一覧画面-->
<div class="container">
  <div class="row pb-2">
    <div class="col-10 mx-auto d-flex border-bottom">
      <h3 class="mx-auto">あなたへの通知</h3>
    </div>
  </div>
  <% if @notifications.nil? %>
    <h4 class="text-center pt-3">通知はありません。</h4>
  <% else %>
    <%= render 'notification', notifications: @notifications %>
  <% end %>
</div>