<div class="container">
   <% if @nocurrent_user_notifications.present? %>
     <%= render 'notification', notifications: @nocurrent_user_notifications %>
    <% else %>
      <h4>通知はありません。</h4>
   <% end %>
</div>
