<!--グループチャットの編集画面-->
<div class="container">
  <div class="col-12 col-md-10 p-3">
    <h3 class="text-center pb-3">グループチャットの編集</h3>
    <!--エラーメッセージ-->
    <div class="text-center">
      <%= render 'layouts/error_messages', resource: @group %>
    </div>
    <!--入力フォーム-->
    <%= form_with model: @group, url: room_group_path(@group.id), method: :patch do |f| %>
      <%= render 'public/room_groups/form', group: @group, f: f %>
    <% end %>
  </div>
</div>
