<!--グループチャットの編集画面-->
<div class="container">
  <h3>グループチャットの編集</h3>
  <%= form_with model: @group, url: room_group_path(@group.id), method: :patch do |f| %>
    <%= render 'public/room_groups/room_group', group: @group, f: f %>
  <% end %>
</div>
