<!--いいねした一覧画面-->
<div class="container">
  <h4 class="text-center pb-3">あなたがいいねした投稿一覧</h4>
  <% if @posts.present? %>
    <!--いいねした投稿一覧-->
    <%= render 'public/posts/index', posts: @posts %>
  <% else %>
    <h5>
      いいねした投稿はまだありません。
    </h5>
  <% end %>
</div>