<div class="container">
  <% if @posts.present? %>
    <%= render 'public/posts/index', posts: @posts, tag_counts: @tag_counts %>
  <% else %>
    <h5>
      いいねした投稿はまだありません。
    </h5>
  <% end %>
</div>