<!--タイムライン画面-->
<div class="container">
  <h3 class="text-center mb-4">
    タイムライン
    <p class="h6 pt-2 d-none d-md-block">ここはフォローしたユーザーの投稿が閲覧できます</p>
  </h3>
  <% if @posts.present? %>
    <%= render 'public/posts/index', posts: @posts %>
  <% else %>
    <h4 class="text-center pt-3">
      ここにはフォローしたユーザーの最新の投稿が<br>
      タイムラインとして表示されます。<br>
      まだフォローしているユーザーがいないので<br>
      気になったユーザーがいればフォローしてみよう！
    </h4>
  <% end %>
  <%= render 'public/posts/new_post_btn' %>
</div>