<!--タイムライン画面-->
<div class="container">
  <h3 class="text-center pb-3">
    タイムライン
    <p class="h6">ここはフォローしたユーザーの投稿が閲覧できます</p>
  </h3>
  <% if @posts.present? %>
    <%= render 'public/posts/index', posts: @posts %>
  <% else %>
    <h4>
      ここにはフォローしたユーザーの最新の投稿が<br>
      タイムラインとして表示されます。<br>
      まだフォローしているユーザーがいないので<br>
      気になったユーザーがいればフォローしてみよう！
    </h4>
  <% end %>
</div>