<% if resource.errors.any? %>
  <div>
    <h5>
      <%= resource.errors.count %>件のエラーが発生しました。以下ご確認お願いいたします。
    </h5>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-danger list_none"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>